# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Xcode build artifacts
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/

# CocoaPods / Carthage
Pods/
Carthage/Build/
